{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "react-native-tab-view-viewpager-adapter": "../src/index"
      }
    }]
  ]
}
